%p#notice= notice

.row.post_full
  .span10
    #post-title
      = @post.title
    .post-subtitle By: Michelle Rittner | Posted on March 17, 2013
    .keywords-posttitle
      %span#no-italic Keywords
      Istanbul, Turkey, Cats
    .indent
      %p
        = @post.content

      %b Published at:
      = @post.published_at

      = link_to 'Edit', edit_post_path(@post)
      \|
      = link_to 'Back', posts_path
