<!DOCTYPE html>
<html lang="en">
<head>
  <title>Happily Adrift</title>
  <link rel="icon" type="image/ico" href="favicon.ico">
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="doc-contain">
  <div id="header-contain">
    <div id="header-inside-contain">
      <div id="logo">
        <a href="#">
          <%= image_tag "paper-airplane.svg" %>
        </a>
      </div>  
      <div id="header-text">
        <p>Happily Adrift</p>
      </div>  
    </div>  
  </div>
  <div id="side-contain">
    <div id="side-contain-inner"> 
      <div id="menu-text">
        <ul>
          <li class="brackets"><%= link_to 'Home', posts_path %></li>
          <li class="brackets"><a href="/about">About</a></li>
          <li class="brackets"><a href="places">Places</a></li>
          <li class="brackets"><a href="food">Food</a></li>
          <li class="brackets"><a href="/resources">Resources</a></li>
          <li class="brackets"><a href="/archives">Archives</a></li>
          <li class="brackets"><a href="/contact">Contact</a></li>
        </ul>  
        <div class="icons">
          <a href="http://www.facebook.com/michelle.rittner" class="facebook" title="Facebook Link"></a>
          <a href="https://twitter.com/mrittner" class="twitter" title="Twitter Link"></a>
          <a href="#" class="stumble" title="Stumble Link"></a>
          <a href="#" class="rss" title="RSS Link"></a>
        </div>
      </div>
    </div>  
  </div>  
    <div class="container-post">
      <%= yield %>
    </div>

</body>
</html>
